@import '../../assets/stylesheets/core/variables.scss';

.popup {
  position: fixed;
  padding: $offset-xl $offset-xl * 2;
  min-width: 320px;
  background-color: $color-white;
  box-shadow: 0 0 10px rgba($color-black, 0.15);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  p {
    font-size: $font-size-sm;
    padding-bottom: $offset-base;
    border-bottom: 3px solid $color-error;
    color: $color-primary;
    font-weight: bold;
    text-align: center;
  }

  .close {
    position: absolute;
    right: $offset-base;
    top: $offset-base;
    border: none;
    background-color: transparent;
    color: lighten($color-black, 50);
    font-weight: bold;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $color-black;
    }
  }
}