<article *ngFor="let article of articlesService.articles | filterArticles: this.articlesService.filterValue">
  <div class="col-md-3">
    <div
      class="image"
      [ngStyle]="{ 'background-image': 'url(' + (article.urlToImage || '../../../../assets/img/blank.png') + ')' }"
    ></div>
  </div>
  <div class="col-md-{{isLocalSource(article.source.name) ? 7 : 9}}">
    <div class="content">
      <h2 class="title">
        <a routerLink="/articles/{{article.title}}">{{ article.title }}</a>
      </h2>
      <p class="description">{{ article.description }}</p>
      <a *ngIf="article.url" class="btn" href={{article.url}}>Read More</a>
    </div>
  </div>
  <div *ngIf="isLocalSource(article.source.name)" class="col-md-2">
    <div class="actions">
      <button routerLink="/articles/{{article.title}}/edit" class="btn">Edit</button>
      <button (click)="deleteArticle(article._id)" class="btn error">Delete</button>
    </div>
  </div>
</article>
<!-- @TODO: rewrite pagination logic -->
<!-- <articles-pagination></articles-pagination> -->
