<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-data-list
        [data-list]="sources"
        placeholder="Select a Source..."
      ></app-data-list>
    </div>
    <div class="col-md-3 d-flex">
      <app-input
        type="text"
        id="filter"
        placeholder="Type a Keyword..."
      ></app-input>
      <button class="btn ml-2">Filter</button>
    </div>
    <div class="col-md-3 d-flex align-items-center">
      <app-input type="checkbox" label="Only Created by Me" id="only-author-toggle"></app-input>
    </div>
    <div class="col-md-3 d-flex justify-content-end">
      <button routerLink="/articles/new" class="btn">Add Article</button>
    </div>
  </div>
</div>
