@import 'assets/scss/core/variables';

:host {
  width: 100%;
}

.input-field {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

input {
  background-color: transparent;
  padding: $sm-offset;
  border: 0;
  border-bottom: 2px solid $tertiary-color;
  font-family: $primary-font-family;
  width: 100%;

  &:hover,
  &:focus {
    border-color: $secondary-color;
  }

  &:focus {
    outline: none;

    + label {
      top: 0;
      transform: translate(-$sm-offset, -100%);
      color: $text-color;
    }
  }

  &::placeholder {
    font-family: $primary-font-family;
    color: $text-color;
  }
}

label {
  pointer-events: none;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: $sm-offset;
  color: $muted-color;
  transform: translateY(-50%);
  font-weight: bold;
  font-family: $secondary-font-family;
}