@import '../../assets/stylesheets/variables.scss';

.channels {
  text-align: center;
  font-size: 0;
  padding: $offset-lg 0;

  .channel {
    display: inline-block;
    font-size: $font-size-base;
    padding-bottom: 5px;
    margin: 10px 10px 0;
    color: $color-primary;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    font-weight: 700;

    &::after,
    &::before, {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 2px solid $color-primary;
    }

    &::after {
      transform: translateX(-100%);
      border-bottom-color: $color-secondary;
      transition: all 0.2s ease;
    }

    &:hover,
    &:focus,
    &:active {
      &::after {
        transform: translateX(0);
      }
    }
  }
}