@import '~reset-css/sass/reset';
@import './variables';
@import './layout';
@import './fonts.scss';

body {
  background-color: $color-background;
  font-family: $primary-font-family;
  font-weight: 300;
}

img {
  display: block;
  max-width: 100%;
}

.page-title {
  font-weight: 900;
  font-size: $font-size-display;
  text-align: center;
  color: $color-primary;
  margin-top: $offset-xl;
  margin-bottom: $offset-base;
}

.page-subtitle {
  font-size: $font-size-heading;
  text-align: center;
}

.channels {
  text-align: center;
  font-size: 0;
  padding: $offset-xl 0 0;

  .channel {
    display: inline-block;
    font-size: $font-size-base;
    padding-bottom: 5px;
    margin: 10px 10px 0;
    color: $color-primary;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    font-weight: 700;

    &::after,
    &::before, {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 2px solid $color-primary;
    }

    &::after {
      transform: translateX(-100%);
      border-bottom-color: $color-secondary;
      transition: all 0.2s ease;
    }

    &:hover,
    &:focus,
    &:active {
      &::after {
        transform: translateX(0);
      }
    }
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $offset-xl 0;

  .post {
    position: relative;
    display: block;
    width: calc((100% - #{$offset-base} * 2) / 3);
    text-decoration: none;
    margin-bottom: $offset-base;

    @media(max-width: $breakpoint-tablet) {
      width: calc((100% - #{$offset-base}) / 2);
    }

    @media(max-width: $breakpoint-mobile) {
      width: 100%;
    }

    &:hover,
    &:focus {
      figcaption {
        background-color: $color-secondary;
      }
    }

    .source {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 10px 8px;
      text-transform: uppercase;
      font-size: $font-size-xs;
      font-weight: 900;
      background-color: $color-secondary;
      color: $color-white;
      letter-spacing: 0.05em;
    }

    figure {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      figcaption {
        line-height: 1.2;
        box-sizing: border-box;
        font-size: $font-size-base;
        color: $color-white;
        background: $color-primary;
        border-bottom: 0;
        padding: $offset-base;
        transition: all 0.2s ease;
      }
    }
  }
}