@import '~reset-css/sass/reset';
@import './variables';
@import './layout';
@import './fonts.scss';

body {
  background-color: $color-background;
  font-family: $primary-font-family;
  font-weight: 300;
}

main {
  padding: $offset-lg 0;
}

img {
  display: block;
  max-width: 100%;
}

.page-title {
  font-weight: 900;
  font-size: $font-size-display;
  text-align: center;
  color: $color-primary;
  margin-top: $offset-xl;
  margin-bottom: $offset-base;
}

.page-subtitle {
  font-size: $font-size-heading;
  text-align: center;
}

.align-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  border: 0;
  background: $color-primary;
  color: $color-white;
  padding: $offset-base $offset-xl;
  cursor: pointer;
  font-family: $primary-font-family;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: background-color 0.2s ease;

  &:hover, 
  &:focus {
    background-color: $color-secondary;
    outline: none;
  }
}