@import '~reset-css/sass/reset';
@import './variables';
@import './layout';
@import './fonts.scss';

body {
  background-color: $color-background;
  font-family: $primary-font-family;
  font-weight: 300;
}

img {
  display: block;
  max-width: 100%;
}

.page-title {
  font-weight: 900;
  font-size: $font-size-display;
  text-align: center;
  color: $color-primary;
  margin-top: $offset-xl;
  margin-bottom: $offset-base;
}

.page-subtitle {
  font-size: $font-size-heading;
  text-align: center;
}