// Fonts.
$primary-font-family: 'Source Sans Pro';
$secondary-font-family: 'Source Sans Pro';

// Colors.
$primary-color: #13326D;
$secondary-color: #60E0EB;
$tertiary-color: #E2F0F1;
$background-color: #FFFFFF;